services:
  postgres:
    image: postgres:latest
    container_name: my_postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d

  mysql:
    image: mysql:latest
    container_name: my_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d

  mssql:
      image: mcr.microsoft.com/mssql/server:2022-latest
      container_name: my_mssql
      environment:
        ACCEPT_EULA: "Y"
        MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
        MSSQL_PID: "Developer"   # or "Express", "Standard", etc.
      ports:
        - "1433:1433"
      networks:
        - mssql-net
  
  mssql-init:
      image: mcr.microsoft.com/mssql-tools
      depends_on:
        - mssql
      volumes:
        - ./mssql-init:/scripts
      networks:
        - mssql-net
      entrypoint: >
        /bin/bash -c "
        sleep 25 &&
        /opt/mssql-tools/bin/sqlcmd -S mssql -U SA -P 'YourStrong!Passw0rd' -i /scripts/init.sql
        "
networks:
  mssql-net:

