services:
  mysql:
    image: mariadb:latest
    container_name: my_mariadb
    environment:
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_DATABASE: mydb
      MARIADB_USER: myuser
      MARIADB_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
      
  mappdatabase:
    image: th0masis/mappdatabase:6_0
    container_name: mappdatabase-01
    environment:
      DB_HOST: my_mariadb
      DB_TYPE: mariadb
      DB_PORT: 3306
      POLL_INTERVAL: 20
    ports:
      - "86:85"