services:
  mssql:
      image: mcr.microsoft.com/mssql/server:2017-latest
      container_name: my_mssql
      environment:
        ACCEPT_EULA: "Y"
        MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
        MSSQL_PID: "Developer"   # or "Express", "Standard", etc.
      ports:
        - "1433:1433"
      networks:
        - mssql-net
  
  mssql-init:
      image: mcr.microsoft.com/mssql-tools
      depends_on:
        - mssql
      volumes:
        - ./mssql-init:/scripts
      networks:
        - mssql-net
      entrypoint: >
        /bin/bash -c "
        sleep 25 &&
        /opt/mssql-tools/bin/sqlcmd -S mssql -U SA -P 'YourStrong!Passw0rd' -i /scripts/init.sql
        "

  mappdatabase:
    image: th0masis/mappdatabase:6_4
    container_name: mappdatabase-01
    environment:
      DB_HOST: my_mssql
      DB_TYPE: mssql
      DB_PORT: 1433
      POLL_INTERVAL: 20
    ports:
      - "86:85"
    networks:
      - mssql-net

networks:
  mssql-net:
