services:
  postgres:
    image: postgres:latest
    container_name: my_postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d
      
  mappdatabase:
    image: th0masis/mappdatabase:6_0
    container_name: mappdatabase-01
    environment:
      DB_HOST: my_postgres
      DB_TYPE: postgres
      DB_PORT: 5432
      POLL_INTERVAL: 20
    ports:
      - "86:85"